/* Default code Starts here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
    padding-top: 10rem;
}



::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background: #a0a0a0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
    border: 1px solid #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


h1,
h2,
h3,
h4,
h6,
p {
    text-wrap: balance;
    font-family: var(--ffPrimary);
}

input,
textarea,
button {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

:root {
    --primaryColor: #942132;
    --secondaryColor: #ff004f;
    --darkColor: #262626;
    --lightColor: #ffffff;
    --blackColor: #000000;
    --regularFont: 1.4rem;
    --headingFont: 2rem;
    --ffPrimary: "Montserrat", sans-serif;
}